<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Event Management with Backbone.js</title>

		<meta name="description" content="A presentation on using Backbone.js with WordPress">
		<meta name="author" content="Jennifer M. Dodd">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/talks/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="/talks/reveal.js/css/theme/sky.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="/talks/reveal.js/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="/talks/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="../../lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h2>Event Management<br /><small>with Backbone.js</small></h2>
					<p>
						<small>Jennifer Dodd @jmdodd</small><br />
						<small>Code Wrangler, Automattic</small>
					</p>
				</section>

				<section>
					<p>What is Backbone.js?</p>

					<ul>
						<li>JavaScript library</li>
						<li>lightweight framework</li>
						<li>RESTful JSON interface</li>
					</ul>
				</section>

				<section>
					<p>Why use Backbone.js?</p>

					<ul>
						<li class="fragment"><strong>Structure:</strong> MV* (model-view-whatever) pattern</li>
						<li class="fragment"><strong>Tools:</strong> Underscore.js utility library</li>
						<li class="fragment"><strong>Communications:</strong> flexible JSON</li>
					</ul>
				</section>

				<section>
					<h2>Structure: MV*</h2>
				</section>

				<section>
					<p>(A little organization first)</p>

					<pre><code>var ToDo = ToDo || {};

ToDo.Models = ToDo.Models || {};

ToDo.Views = ToDo.Views || {};

ToDo.Collections = ToDo.Collections || {};</code></pre>
				</section>

				<section>
					<p>Models</p>

					<ul>
						<li>information container</li>
						<li>avoids jQuery.data()</li>
						<li>tracks own state</li>
					</ul>
				</section>

				<section>
					<p>ToDo task model:</p>

					<pre><code>ToDo.Models.ToDo = ( function( $, Backbone ) {
	return Backbone.Model.extend( {
	 	defaults: function() {
			return {
				id: 0,
				title: '',
				checked: '',
				completedBy: false,
				latestChange: 0,
				source: 'local'
	 	 	};
	 	}
	} );
} )( jQuery, Backbone );</code></pre>
				</section>

				<section>
					<p>On the server:</p>

					<pre><code>foreach ( (array) $posts as $post ) {
	$todo = array(
		'id'	       => $post->ID,
		'title'	       => $post->post_title,
		'checked'      => $checked,
		'completedBy'  => $userdata,
		'latestChange' => $at,
	);
	$todos[] = $todo;
}
wp_send_json_success( $todos );</code></pre>
				</section>

				<section>
					<p>Views</p>

					<ul>
						<li>in the DOM: i.e. what you see in the browser</li>
						<li>provide the user action interface: i.e. users can do stuff</li>
						<li>can be attached to models and/or collections</li>
						<li>can contain subviews</li>
						<li>use templates</li>
					</ul>
				</section>

				<section>
					<p>In the template:</p>

					<pre><code><input type="checkbox" id="todos-todo-{{- id }}" class="on-completion" {{- checked }}>
{{ if ( completedBy ) { }}
	<span class="completed completed-by-{{- completedBy.username }}">
{{ } }}
{{= title }}
{{ if ( completedBy ) { }}
	</span>
	<br /><img src="{{= completedBy.avatar }}" class="avatar avatar-16 photo" height="16" width="16" /> {{= completedBy.username }}
{{ } }}</code></pre>
				</section>

				<section>
					<p>ToDo task view:</p>
					<pre><code>ToDo.Views.ToDo = ( function( $, Backbone ) {
	return Backbone.View.extend( {
	 	model: ToDo.Models.ToDo,
	 	tagName: 'li',
 	 	template: _.template( $( '#todos-template' ).html() ),

	 	initialize: function() {
	  	 	// Start by rendering the View
	  	 	this.render();
	  	},

	 	render: function() {
	 		this.$el.html( this.template( this.model.toJSON() ) );
	 		return this;
	  	}
	} );
} )( jQuery, Backbone );</code></pre>
				</section>

				<section>
					<p>Collections</p>

					<ul>
						<li>organization of data</li>
						<li>sortable</li>
						<li>can be a collection of models or views</li>
					</ul>
				</section>

				<section>
					<p>ToDo task collection:</p>

					<pre><code>ToDo.Collections.ToDos = ( function( $, Backbone ) {
	return Backbone.Collection.extend( {
	 	model: ToDo.Models.ToDo
	} );
} )( jQuery, Backbone );</code></pre>
				</section>

				<section>
					<h2>Events</h2>
				</section>

				<section>
					<p>Events</p>

					<ul>
						<li>the reason we use Backbone</li>
						<li>all interactions are built around using events on models, views, and collections</li>
					</ul>
				</section>

				<section>
					<p>Some common events are:</p>

					<ul>
						<li class="fragment"><strong>add</strong> when a model is added to a collection</li>
						<li class="fragment"><strong>remove</strong> when a model is removed from a collection</li>
						<li class="fragment"><strong>reset</strong> when a collection's contents are replaced</li>
						<li class="fragment"><strong>change</strong> when a model's attributes have changed</li>
						<li class="fragment"><strong>change:[attribute]</strong> when a single attribute of a model has changed</li>
					</ul>
				</section>

				<section>
					<p>What does an event look like?</p>

					<ul>
						<li>generally speaking, an event is something you are doing with a model or collection</li>
						<li>a function (like <code>model.set</code>, <code>collection.reset</code>) triggers an event</li>
						<li>to avoid triggering an event, pass <code>{ silent: true }</code> as an option</li>
						<li>it is <em>better</em> to pass a flag in options to avoid that event</li>
					</ul>
				</section>

				<section>
					<p>Events are what make Backbone powerful</p>

					<ul>
						<li>instead of using <code>.bind()</code> and <code>.on()</code>, we try to use <code>.listenTo()</code></li>
						<li>avoid JS memory leaks</li>
					</ul>
				</section>

<!--

				<section>
					<h2>Starting the App</h2>
				</section>

				<section>
					<p>What is the app, anyway?</p>

					<ul>
						<li>WordPress-powered tasklist ToDo widget</li>
						<li>ability to complete tasks on the front-end</li>
						<li>see other's updates to the list in real time</li>
					</ul>
				</section>

				<section>
					<h2>Demo</h2>
				</section>

				<section>
					<p>Priming the browser</p>

					<ul>
						<li>add data so there is no delay</li>
						<li>reduce async requests to the server</li>
						<li>add to wp_footer to avoid page load delays</li>
					</ul>
				</section>

				<section>
					<p>On the server (wp_footer action):</p>

					<pre><code><div style="display:none;" id="todos-data"><?php
	$todos = self::get_todos_since();
	echo json_encode( $todos, JSON_UNESCAPED_SLASHES );
?></div>
</code></pre>
				</section>

				<section>
					<p>In the browser:</p>

					<pre><code>jQuery( document ).ready( function( $ ) {
	// Find the priming data
	var primer = JSON.parse( $( '#todos-data' ).text() );
	ToDo.toDos = new ToDo.Collections.ToDos( primer );
...</code></pre>
				</section>

				<section>
					<p>Add the JSON-encoded data to each widget in the DOM</p>

					<pre><code>ToDo.WidgetModels = [];
ToDo.WidgetViews = [];
_.each( $( '.widget.todos' ), function( widget ) {
	var data = $( widget ).find( 'div' );
	var model = new ToDo.Models.Widget( {
	 	widgetID: widget.id,
	 	count: data.data( 'count' )
	} );
	var view = new ToDo.Views.Widget( {
	 	model: model,
	 	collection: ToDo.toDos
	} );
	ToDo.WidgetModels.push( model );
	ToDo.WidgetViews.push( view );
} );</code></pre>
				</section>
-->
				<section>
					<h2>Types of Events</h2>
				</section>

				<section>
					<p>Models and Views and Collections</p>

					<ul>
						<li class="fragment">loosely linked</li>
						<li class="fragment">events on Views (click, DOM, etc.)</li>
						<li class="fragment">communications between them use .listenTo() and .trigger()</li>
					</ul>
				</section>

				<section>
					<p>Actions on a View can update a Model</p>

					<pre><code>ToDo.Views.ToDo = ( function( $, Backbone ) {
...
	events: {
		'click .on-completion': 'onCompletion'
	},

	onCompletion: function( e ) {
	 	if ( e.currentTarget.checked ) {
	 	 	this.model.set( {
	 	 	 	checked: 'checked',
	 	 	 	completedBy: ToDo.currentUser,
	 	 	 	source: 'local'
	 	 	} );
	 	} else {
	 	 	this.model.set( {
	 	 	 	checked: '',
	 	 	 	completedBy: false,
	 	 	 	source: 'local'
	 	 	} );
	 	}
	}</code></pre>
				</section>

				<section>
					<p>Updates to a Model can rerender a View</p>

					<pre><code>ToDo.Views.ToDo = ( function( $, Backbone ) {
...
	model: ToDo.Models.ToDo,

	initialize: function() {
	 	// Update the View when the model changes
	 	this.listenTo( this.model, 'change', this.render );
	},</code></pre>
				</section>

				<section>
					<p>Updates to a Model package up the change</p>

					<pre><code>ToDo.Models.ToDo = ( function( $, Backbone ) {

...
	initialize: function() {
		this.listenTo( this, 'change', this.update );
	},
	update: function() {
	 	if ( this.get( 'source' ) === 'local' ) {
	 	 	var data = {
	 	 	 	action: 'todos_check',
	 	 	 	id: this.id,
	 	 	 	checked: this.get( 'checked' )
	 	 	};</code></pre>
				</section>

				<section>
					<p>and get a response from the server</p>

					<pre><code>var jqXHR = $.ajax( {
	dataType: 'json',
	url: ToDo.ajaxurl,
	xhrFields: {
	 	withCredentials: true
	},
	data: data
} )
.done( function( response, textStatus, jqXHR ) {
	var todo = response.data[0];
	todo.source = 'check';
	ToDo.toDos.add( response.data[0], { merge: true } );
} );</code></pre>
				</section>

				<section>
					<p>Adding a Model to a Collection can add a View</p>

					<pre><code>ToDo.Views.Widget = ( function( $, Backbone ) {
...
	initialize: function() {
	 	this.listenTo( this.collection, 'add', this.addOne );
	},

	addOne: function( todo ) {
	 	var view = new ToDo.Views.ToDo( {
	 	 	model: todo
	 	} );
	 	this.$el.prepend( view.el );
	 	return this;
	},</code></pre>
				</section>

				<section>
					<p>What about other people's actions?</p>

					<ul>
						<li class="fragment">server-push...</li>
					</ul>
				</section>

				<section>
					<p><a href="http://reactiongifs.com/?p=6818"><img src="http://www.reactiongifs.com/r/2013/02/nope.gif"></a></p>
				</section>

				<section>
					<p>What about other people's actions?</p>

					<ul>
						<li>polling...</li>
					</ul>
				</section>

				<section>
					<p><a href="http://reactiongifs.com/?p=20279"><img src="http://www.reactiongifs.com/r/wnod.gif"></a></p>
				</section>

				<section>
					<p>Polling in the browser sends an AJAX request,</p>

					<pre><code>poll: function() {
	var data = {
	 	action: 'todos_poll',
	 	since: ToDo.since
	};

	ToDo.current = Date.now();

	var jqXHR = $.ajax( {
	 	dataType: 'json',
	 	url: ToDo.ajaxurl,
	 	data: data
	} )</code></pre>
				</section>

				<section>
					<p>receives back an encoded JSON response,</p>

					<pre><code>	.done( function( response, textStatus, jqXHR ) {
	 	if ( 'undefined' != typeof response.data ) {
	 	 	ToDo.since = ToDo.current;
	 	 	for ( m = 0, dl = response.data.length; m < dl; m++ ) {
	 	 	 	var todo = response.data[m];
				todo.source = 'poll';
	 	 	 	ToDo.toDos.add( todo, { merge: true } );
	 	 	}
	 	}
	} )</code></pre>
				</section>

				<section>
					<p>and then sets the next AJAX poll event</p>

					<pre><code>	.always( function() {
	 	ToDo.Polling.poller = setTimeout( ToDo.Polling.poll, ToDo.Polling.pollInterval ); 
	} );</code></pre>
				</section>

				<section>
					<p>Polling on the server is a wp_ajax_ action</p>

					<pre><code>add_action( 'wp_ajax_todos_poll', array( 'ToDos_Widget', 'poll' ) );

public static function poll() {
	$todos = array();
	if ( isset( $_GET['since'] ) ) {
	 	$since = absint( substr( $_GET['since'], 0, 10 ) ) - 3;
	 	$min = time() - 24 * 60 * 60;
	 	if ( $since < $min ) {
	 	 	$since = $min;
	 	}
	 	$todos = self::get_todos_since( $since );
	}

	wp_send_json_success( $todos );
}</code></pre>
				</section>

				<section>
					<p>Getting a new Model from the server:</p>

					<ul>
						<li>adds the model to the collection</li>
						<li>adds a view for the new model</li>
					</ul>
				</section>

				<section>
					<p>Getting an updated Model from the server</p>

					<ul>
						<li>updates the model in the collection</li>
						<li>updates the view on that model</li>
					</ul>
				</section>

				<section>
					<h2>Demo</h2>
				</section>

				<section>
					<p>Custom Events within Backbone</p>

					<pre><code>ToDo.dispatcher= _.clone( Backbone.Events );

ToDo.dispatcher.trigger( 'toDo:server-update', { data: response.data } );
// object.trigger(event, [*args])

this.listenTo( ToDo.dispatcher, 'toDo:server-update', this.serverUpdated );
// object.listenTo(other, event, callback)
</code></pre>
				</section>

				<section>
					<p>Why use custom events?</p>

					<ul>
						<li class="fragment">available to models, views, and collections</li>
						<li class="fragment">creates a centralized event bus</li>
						<li class="fragment">allows loosely coupled communications</li>
						<li class="fragment">uses pseudo-namespacing</li>
					</ul>
				</section>

				<section>
					<p>Talking to jQuery (and the DOM)</p>

					<pre><code>ToDo.appContainer = $( "#content" );

ToDo.appContainer.trigger( 'toDo:data-received', data );

ToDo.appContainer.on( 'toDo:data-received', function( data ) {
	// Do something with data
} );</code></pre>
				</section>

				<section>
					<p>Why talk to jQuery?</p>

					<ul>
						<li class="fragment">fires a jQuery-catchable event on a DOM element</li>
						<li class="fragment">use when adding/removing elements from the DOM</li>
						<li class="fragment">increase ability of other jQuery plugins to extend your code</li>
					</ul>
				</section>

				<section>
					<p>Make it more familiar</p>

					<pre><code>
ToDo.actions = [];
ToDo.currentActions = [];
ToDo.doneActions = [];
ToDo.doAction = function( hook ) {
	if ( 'string' == typeof hook ) {
		var args = Array.prototype.slice.call( arguments, 1 );
		ToDo.currentActions.push( hook );
		ToDo.appContainer.trigger( hook, args );
		ToDo.doneActions.push( hook );
		ToDo.currentActions.pop();
	}
};</code></pre>
				</section>

				<section>
					<p>Add some helper functions</p>

					<pre><code>ToDo.currentAction = function() {
	l = this.currentActions.length;
	if ( l > 0 ) {
		return this.currentActions[ l - 1 ];
	}
	return false;
}
ToDo.didAction = function( hook ) {
	if ( -1 === $.inArray( hook, this.doneActions ) ) {
		return false;
	}
	return true;
}</code></pre>
				</section>

				<section>
					<p>Then we can do this in JavaScript</p>

					<pre><code>ToDo.doAction( 'toDo:alertOn', data );

ToDo.appContainer.on( 'toDo:alertOnce', function() {
	if ( ! ToDo.didAction( 'toDo:alertOnce' ) {
	 	// Do something once
	}
} );</code></pre>

				</section>

				<section>
					<p>Communication Issues</p>

					<ul>
						<li class="fragment">Crosstalk: collisions on the server</li>
						<li class="fragment">PEBKAC: collisions on the browser</li>
						<li class="fragment">Chaos: events hit the server/browser out of order</li>
					</ul>
				</section>

				<section>
					<p>Communication Solutions</h2>

					<ul>
						<li class="fragment">mark models as coming from the client or server</li>
						<li class="fragment">use server-side checking to avoid overwrites</li>
						<li class="fragment">use client-side debouncing to avoid value-flipping</li>
						<li class="fragment">queue transactions and only perform the last one in a series of same actions</li>
						<li class="fragment">serialize based on browser-time to avoid chaos</li>
					</ul>
				</section>

				<section>
					<h2>Questions?</h2>

					<p>Slides: <a href="http://jmdodd.github.io/talks/2014/YUL/">http://jmdodd.github.io/talks/2014/YUL/</a><br />

					ToDos: <a href="http://bit.ly/1l4JHsA">http://bit.ly/1l4JHsA</a></p>

					<p><a href="http://automattic.com/work-with-us/">(We're hiring!)</a></p>
				</section>
			</div>

		</div>

		<script src="/talks/reveal.js/lib/js/head.min.js"></script>
		<script src="/talks/reveal.js/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '/talks/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/talks/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/talks/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/talks/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/talks/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '/talks/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
